.footer {
  padding: 10px;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}
.logo {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.text {
  max-width: 320px;
  font-style: italic;
  font-size: 12px;
}
