.container {
  width: 375px;
  margin: 0 auto;
  padding: 10px;
}

.link {
  margin-right: 15px;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.2s ease;
}

.link:hover {
  color: rgb(60, 138, 7);
}

.active {
  color: rgb(142, 235, 79);
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    width: 1168px;
    padding: 15px 15px;
  }
}
