.cast {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.castItem {
  width: calc(100% - 10) / 2;
}

.topic {
  margin-top: 5px;
  color: rgb(142, 235, 79);
  max-width: 150px;
  font-size: 14px;
}

.dscr {
  font-style: italic;
  max-width: 150px;
  font-size: 14px;
}
